.styledNav {
    height: 70px;
    background: #090b13;
    display: flex;
    align-items: center;
    padding: 0 36px;
    overflow-x: hidden;
}

.styledImg {
    width: 80px;
}

.styledDiv {
    display: flex;
    flex: 1;
    margin-left: 25px;
    align-items: center;
}

.spanStyled {
    font-size: 13px;
    letter-spacing: 1.42px;
    position: relative;
    &:after {
        content: "";
        height: 2px;
        background: white;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -6px;
        opacity: 0;
        transform-origin: left center;
        transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
        transform: scaleX(0);
    }
}

.aStyled {
    display: flex;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
    &:hover {
        span:after {
            transform: scaleX(1);
            opacity: 1;
        }
    }
}

.styledUserImg {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
}

.styledLogin {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px 16px;
    text-transform: uppercase;
    letter-spacing: 1, 5px;
    border: 1px solid #f9f9f9;
    border-radius: 4px;
    transition: all .2s ease 0s;
    &:hover {
        background-color: #f9f9f9;
        color: #000;
        border-color: transparent;
    }
}